.calendar
  display: flex
  flex-direction: row
  justify-content: space-between
  flex-wrap: wrap
  @media(max-width: 773px)
    justify-content: space-around
  &-item
    padding: 0 15px 10px 13px
    margin-bottom: 16px
    width: 185px
    min-height: 198px
    box-sizing: border-box
    background-color: rgba(119,185,126,0.14901960784313725)
    border: 1px solid rgba(37,134,60,0.5)
    border-radius: 5px
    color: $greenMonth

.month-name
  text-align: center
  margin-top: 4px
  position: relative
  padding-left: 1px
  &:before
    content: ""
    width: 125px
    height: 1px
    background-color: #8d978e
    display: block
    position: absolute
    bottom: -4px
    left: 15px

.week
  margin-top: 17px
  font-size: 14px
  &--day
    width: 20px
    heigth: 20px
    text-align: center
    background-color: #ffffff
    margin: 0 1px
    font-size: 14px
    line-height: 20px
    display: inline-block

.month-days
  margin-top: 6px
  font-size: 14px
  &--day
    width: 20px
    heigth: 20px
    text-align: center
    margin: 1px
    background-color: #ffffff
    font-size: 14px
    line-height: 20px
    display: inline-block
    transition: 0.3s ease all
    &:hover
      cursor: pointer

.holiday
  background-color: $redHoliday
  color: #ffffff

.today
  background-color: $greenDayBackgr
  color: #ffffff

.choosen
  background-color: lightgreen 
  color: #000
  box-shadow: 0 0 2px green

.busy
  background-color: blue 
  color: #fff 