@font-face
  font-family: 'UbuntuMedium'
  src: url('../fonts/UbuntuMedium/UbuntuMedium.woff') format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Ubuntu'
  src: url('../fonts/Ubuntu/Ubuntu.woff') format("woff")
  font-weight: normal
  font-style: normal