@import "fonts"
@import "vars"

body 
  font-family: Ubuntu
  font-size: 18px

.wrapper
  display: block
  max-width: 1187px
  margin: 90px auto

.header
  &--text
    font-size: 48px
    line-height: 25px
    text-align: center
    display: inline-block
    margin-bottom: 13px
    color: $greenHeader
    font-family: "UbuntuMedium"
    @media(max-width: 503px)
      line-height: 40px
  &--description
    color: $black

.content
  padding: 34px 1px 0 1px

.footer
  margin-top: 6px
  margin-left: 1px
  &--text 
    margin-bottom: 4px

.input-number
  padding: 10px 0 10px 12px
  letter-spacing: .7px
  margin-right: 15px
  margin-bottom: 15px
  outline: none

.btn-submit
  background-color: $greenBtn
  color: #ffffff
  font-size: 18px
  font-family: Ubuntu
  padding: 8px 25px 10px 25px
  border: none
  outline: none
  &:hover
    cursor: pointer

.disabled
  box-shadow: inset 0 0 3px rgba(0,0,0,0.5)
  color: #ccc
  &:hover
    cursor: not-allowed


@import "calendar"