<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/main.min.css")
    link(rel='shortcut icon', href='/img/calendar.ico', type='image/x-icon')
    title Calendar
  body
    .wrapper
      .header
        .header--text Бронирование даты
        .header--description Тестовое задание на должность fullstack-разработчика
      .content
        .calendar
      .footer
        .footer--text Укажите телефон:
        label
          input.input-number#phone(type="text" placeholder="+7 (___) ___-__-__")
          

          button.btn-submit.disabled(type="submit") Забронировать

    
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(src="js/jquery.maskedinput.min.js")
    script(src='js/script.js')
    script.
      $(function(){
      phoneFlag = 0;
      $("#phone").mask("+7 (999) 999-99-99", {
        completed: function(){ phoneFlag = 1;
        if (phoneFlag>0 && isChoosenDay.length>0) {
          if(btn.classList.contains('disabled')) {
            btn.classList.remove('disabled')

            btn.addEventListener('click', () => {
              let items = document.querySelectorAll('.calendar-item');
              items.forEach((item) => {
              let monthName = item.querySelector('.month-name');
              let choosenDays = item.querySelectorAll('.choosen');
              let dayArray = [];
              choosenDays.forEach((day) => {
                dayArray.push(day.textContent);
                result[monthName.textContent] = dayArray;
                
              })
              
            })
              result['Phone number'] = phone.value;
              alert('Выбранные даты забронированы (подробности в консоли)');
              console.log(result);
            })

          }
      }}
      });
      });
      
